<a href="https://colab.research.google.com/github/AvinashGadpayle/ds_guvi_task7/blob/main/DataPreprocessing_Assignment11_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Data.csv

**Step 1: Importing the libraries**

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from google.colab import files
import io

**Step 2: Importing dataset**

In [3]:
uploaded= files.upload()

Saving Data.csv to Data.csv

In [4]:
df =pd.read_csv('Data.csv')
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

**Step 3: Handling the missing data**

In [5]:
df.info

<bound method DataFrame.info of    Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes>

In [6]:
df['Age'] = df['Age'].fillna(df['Age'].mode())

In [7]:
df['Salary'] = df['Salary'].fillna(df['Salary'].mode())

In [8]:
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0  61000.0       Yes
5   France  35.0  58000.0       Yes
6    Spain  44.0  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

**Step 4: Encoding categorical data**

In [9]:
df["Purchased"] = df["Purchased"].map({"Yes": 1, "No":0})
df

   Country   Age   Salary  Purchased
0   France  44.0  72000.0          0
1    Spain  27.0  48000.0          1
2  Germany  30.0  54000.0          0
3    Spain  38.0  61000.0          0
4  Germany  40.0  61000.0          1
5   France  35.0  58000.0          1
6    Spain  44.0  52000.0          0
7   France  48.0  79000.0          1
8  Germany  50.0  83000.0          0
9   France  37.0  67000.0          1

**Step 5: Creating a dummy variable**

In [10]:
df=pd.get_dummies(df)
df

    Age   Salary  Purchased  Country_France  Country_Germany  Country_Spain
0  44.0  72000.0          0               1                0              0
1  27.0  48000.0          1               0                0              1
2  30.0  54000.0          0               0                1              0
3  38.0  61000.0          0               0                0              1
4  40.0  61000.0          1               0                1              0
5  35.0  58000.0          1               1                0              0
6  44.0  52000.0          0               0                0              1
7  48.0  79000.0          1               1                0              0
8  50.0  83000.0          0               0                1              0
9  37.0  67000.0          1               1                0              0

**Step 6: Splitting the datasets into training sets and Test sets**

In [11]:
x = df.drop('Purchased',axis=1)
y = df['Purchased']

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x , y, test_size=0.2, random_state=10)

**Step 7: Feature Scaling**

In [13]:
scaler = StandardScaler()
scaler.fit(x)
scaled_data= scaler.transform(x)
scaled_data= pd.DataFrame(scaled_data, columns=x.columns)