<a href="https://colab.research.google.com/github/AvinashGadpayle/ds_guvi_task7/blob/main/Decision_Trees_Assignment15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Social_Network_Ads.csv

**Importing the libraries**

In [14]:
import pandas as pd
import numpy as np
import scipy.stats as stats

import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, f1_score, roc_auc_score,classification_report
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import StandardScaler

from google.colab import files
import io

**Importing the dataset**

In [3]:
uploaded= files.upload()

Saving Social_Network_Ads.csv to Social_Network_Ads (1).csv

In [4]:
df =pd.read_csv('Social_Network_Ads.csv')
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [5]:
df.drop(["User ID"], axis = 1, inplace = True)

In [6]:
df

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

In [7]:
df=pd.get_dummies(df)

In [8]:
df

     Age  EstimatedSalary  Purchased  Gender_Female  Gender_Male
0     19            19000          0              0            1
1     35            20000          0              0            1
2     26            43000          0              1            0
3     27            57000          0              1            0
4     19            76000          0              0            1
..   ...              ...        ...            ...          ...
395   46            41000          1              1            0
396   51            23000          1              0            1
397   50            20000          1              1            0
398   36            33000          0              0            1
399   49            36000          1              1            0

[400 rows x 5 columns]

**Splitting the dataset into the Training set and Test set**

In [9]:
pred= ["Age","EstimatedSalary", "Gender_Female","Gender_Male"]

x=df[pred]
y=df["Purchased"]

In [41]:
x_train, x_test, y_train, y_test = train_test_split(x , y, test_size=0.2, random_state=10)

**Feature Scaling**

In [42]:
scaler = StandardScaler()
scaler.fit(x)
scaled_data= scaler.transform(x)
scaled_data= pd.DataFrame(scaled_data, columns=x.columns)

**Fitting Decision Tree Classification to the Training set**

In [43]:
tree = DecisionTreeClassifier(random_state=0)
tree.fit(x_train,y_train)

DecisionTreeClassifier(random_state=0)

**Predicting the Test set results**

In [44]:
y_pred=tree.predict(x_test)

**Making the Confusion Matrix**

In [45]:
cm = confusion_matrix(y_test, y_pred)
cm

array([[45,  7],
       [ 1, 27]])

In [46]:
accuracy= accuracy_score(y_test, y_pred)
accuracy

0.9

In [48]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.98      0.87      0.92        52
           1       0.79      0.96      0.87        28

    accuracy                           0.90        80
   macro avg       0.89      0.91      0.89        80
weighted avg       0.91      0.90      0.90        80

**Visualising the Training set results**

**Visualising the Test set results**