<a href="https://colab.research.google.com/github/AvinashGadpayle/ds_guvi_task7/blob/main/SVM_Assignment14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Social_Network_Ads.csv

**Import libraries**

In [2]:
import pandas as pd
import numpy as np
import scipy.stats as stats

import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, f1_score, roc_auc_score,classification_report
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC


from google.colab import files
import io

**Importing the dataset**

In [3]:
uploaded= files.upload()

Saving Social_Network_Ads.csv to Social_Network_Ads (2).csv

In [4]:
df =pd.read_csv('Social_Network_Ads.csv')
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [5]:
df.drop(["User ID"], axis = 1, inplace = True)

In [6]:
df

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

In [7]:
df=pd.get_dummies(df)

In [8]:
df

     Age  EstimatedSalary  Purchased  Gender_Female  Gender_Male
0     19            19000          0              0            1
1     35            20000          0              0            1
2     26            43000          0              1            0
3     27            57000          0              1            0
4     19            76000          0              0            1
..   ...              ...        ...            ...          ...
395   46            41000          1              1            0
396   51            23000          1              0            1
397   50            20000          1              1            0
398   36            33000          0              0            1
399   49            36000          1              1            0

[400 rows x 5 columns]

**Splitting the dataset into the Training set and Test set**

In [9]:
pred= ["Age","EstimatedSalary", "Gender_Female","Gender_Male"]

x=df[pred]
y=df["Purchased"]

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x , y, test_size=0.2, random_state=1)

**Feature Scaling**

In [11]:
scaler = StandardScaler()
scaler.fit(x)
scaled_data= scaler.transform(x)
scaled_data= pd.DataFrame(scaled_data, columns=x.columns)

**Fitting SVM to the Training set**

In [19]:
model = SVC(kernel='linear')

In [20]:
model.fit(x_train,y_train)

SVC(kernel='linear')

**Predicting the Test set results**

In [21]:
y_pred = model.predict(x_test)
y_pred

array([0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0])

**Making the Confusion Matrix**

In [22]:
cm = confusion_matrix(y_test, y_pred)
cm

array([[41,  7],
       [ 7, 25]])

In [23]:
accuracy= accuracy_score(y_test, y_pred)
accuracy

0.825

**Visualising the Training set results**

In [27]:
model_train_score=model.score(x_train,y_train)
model_train_score

0.83125

**Visualising the Test set results**

In [15]:
model_test_score=model.score(x_test,y_test)
model_test_score